@media (min-width: 400px) and (max-width:750px){
    main{
        width: 100%;
        z-index: 1;
    }
    .aside-visible {
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100%;
        z-index: 1000;
      }
      .aside-visible.active {
        right: 0;
        background-color: var(--clr-main);

      }
      .header-mobile{
        display: flex;
      }
}
@media (max-width:400px) {
    main{
        width: 100%;
        z-index: 1;
    }
    .aside-visible {
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100%;
        z-index: 1000;
      }
      .aside-visible.active {
        right: 0;
        background-color: var(--clr-main);
      }
      .header-mobile{
        display: flex;
      }
}

